
.ipynb_checkpoints/enron_test-checkpoint.ipynb
*.csv
.DS_Store
.ipynb_checkpoints/enron-checkpoint.ipynb
test_enron.py
enron.ipynb
enron_test.ipynb
enron_test.ipynb
__pycache__/test_enron.cpython-38-pytest-6.2.4.pyc
js.png
klkk.png
*.png
.ipynb_checkpoints/untitled-checkpoint.txt
enron_test.ipynb
enron_test.ipynb
*.feather
*.ipynb
.ipynb_checkpoints
